.title {
  width: 100%;
  font-size: 100px;
  font-family: var(--font-large);
  text-align: center;
  padding: 30px 15px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  font-family: var(--font-medium);
  text-transform: capitalize;
  display: grid;
  /* grid-template-columns: repeat(3, 1fr); */
}

.card {
  padding: 15px 15px;
  background-color: var(--accent);
  border-radius: 12px;
}

h1 {
  font-size: 24px;
  background-color: var(--background);
  padding: 10px 15px;
  border-radius: 10px;
  text-align: center;
}

h2 {
  font-size: 20px;
  background-color: var(--text);
  color: var(--background);
  margin: 10px 0;
  text-align: center;
  border-radius: 10px;
  padding: 10px 15px;
}
ul,
ol {
  list-style: none;
  display: flex;
  flex-direction: column;
  /* width: 500px; */
  gap: 15px;
  padding: 10px 20px;
}
li {
  display: flex;
  align-items: center;
  width: fit-content;
}
li p {
  background-color: var(--background);
  padding: 10px 20px;
  position: relative;
}
li span {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--text);
  border-radius: 50%;
  width: 40px;
  aspect-ratio: 1/1;
  font-size: 20px;
  outline: 8px solid var(--accent);
  position: relative;
  z-index: 100;
  color: var(--background);
}
.muscles {
  list-style: none;
  font-size: 25px;
}
.none {
  display: none;
}
.muscles {
  display: flex;
  gap: 5px;
  width: 100%;
  flex-wrap: wrap;
  overflow: hidden;
  margin-bottom: 15px;
}
.muscle {
  font-size: 22px;
}
.muscle::after {
  content: " /";
}
.muscles .muscle:last-child::after {
  content: "";
}
