/* variables.css */

/* Reset styles */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Light theme */
:root[data-theme="light"] {
  --text: #061113;
  --background: #f0f8fa;
  --primary: #266173;
  --secondary: #7e96d3;
  --accent: #3d50b8;
}

/* Dark theme */
:root[data-theme="dark"] {
  --text: #eaf6f8;
  --background: #050d0f;
  --primary: #8ec8d9;
  --secondary: #2c4582;
  --accent: #4659c1;
}

/* Fonts and font sizes */
:root {
  --text: #eaf6f8;
  --background: #050d0f;
  --primary: #8ec8d9;
  --secondary: #2c4582;
  --accent: #4659c1;
  --font-large: "Montserrat", sans-serif;
  --font-medium: "Athiti", sans-serif;
  --font-small: "Nunito", sans-serif;
  --large-font-size: 50px;
  --medium-font-size: 18px;
  --regular-font-size: 16px;
  --small-font-size: 14px;
}
