/* init */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* light theme */
:root[data-theme="light"] {
  --text: #070808;
  --background: #fcfdfd;
  --primary: #5faeaf;
  --secondary: #98d9da;
  --accent: #6ddadc;
}

/* dark theme */
:root[data-theme="dark"] {
  --text: #f7f8f8;
  --background: #020303;
  --primary: #509e9f;
  --secondary: #246465;
  --accent: #238e90;
}

/* fonts */
:root {
  --font-large: "Comfortaa", sans-serif;
  --font-medium: "Nunito", sans-serif;
  --font-small: "Signika", sans-serif;
  --large-font-size: 2rem;
  --medium-font-size: 1.5rem;
  --regular-font-size: 1rem;
  --small-font-size: 0.875rem;
}
